<div class="col-8 cadastro">
    <div class="row">
        <h3 class="mb-3 title">Login</h3>
    </div>

    <div class="row">
        <form class="formulario" [formGroup]="editForm" (ngSubmit)="logar(editForm.value)">
            <div class="mb-3">
                <input formControlName="username" type="text" class="form-control" placeholder="Username">

                <input formControlName="password" type="password" class="form-control" placeholder="Password">

                <button (click)="logar(editForm.value)" type="submit" class="btn btn-primary">
                    logar
                </button>
            </div>
        </form>
    </div>
</div>