* {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin: 30px;
}

.result {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.startGame {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.loading {
    text-align: center;
    margin-top: 30px;
    font-size: 20px;
    font-weight: bold;
}

.startGame button {
    width: 120px;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 colunas */
    grid-template-rows: repeat(3, 100px);    /* 3 linhas */
    gap: 5px; /* Espaço entre as células */
    width: 315px; /* Largura total do tabuleiro */
    margin: 0 auto; /* Centralizar o tabuleiro horizontalmente */
}

.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    border: 1px solid #000;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
    background-color: #eee;
}